.bg-height{
  height: 512px;
  width: 100%;
}
@media only screen and (min-width: 768px) {
  .bg-height{
    height: 700px;
    padding-top: 450px;
  }
}
@media only screen and (min-width: 1024px) {
  .bg-height{
    height: 450px;
    padding-top: 260px;
  }
}
@media only screen and (min-width: 1440px) {
  .bg-height{
    height: 620px;
    padding-top: 370px;
  }
}
@media only screen and (min-width: 1536px) {
  .bg-height{
    height: 640px;
    padding-top: 370px;
  }
}
@media only screen and (min-width: 1920px) {
  .bg-height{
    height: 780px;
    padding-top: 460px;
  }
}