.social-box{ 
  padding-left: 65px;
  padding-right: 65px;
}
@media only screen and (min-width: 375px) {
  .social-box{ 
    padding-left: 85px;
    padding-right: 85px;
  }
}
@media only screen and (min-width: 414px) {
  .social-box{ 
    padding-left: 117px;
    padding-right: 117px;
  }
}
@media only screen and (min-width: 640px) {
  .social-box{ 
    padding-left: 213px;
    padding-right: 213px;
  }
}
@media only screen and (min-width: 768px) {
  .social-box{ 
    padding-left: 281px;
    padding-right: 281px;
  }
}
@media only screen and (min-width: 1024px) {
  .social-box{ 
    padding-left: 408px;
    padding-right: 408px;
  }
}
@media only screen and (min-width: 1280px) {
  .social-box{ 
    padding-left: 42%;
    padding-right: 42%;
  }
}
@media only screen and (min-width: 1440px) {
  .social-box{ 
    padding-left: 43%;
    padding-right: 43%;
  }
}
@media only screen and (min-width: 1920px) {
  .social-box{ 
    padding-left: 45%;
    padding-right: 45%;
  }
}