.toggleDiv{
  width: 338px;
  height: 330px;
  position: relative;
  top: 40px;
  right: 310px;
}
@media only screen and (min-width: 640px) {
  .toggleDiv{
    width: 420px;
    height: 370px;
    position: relative;
    top: 40px;
    right: 397px;
  }
}
@media only screen and (max-width: 320px){
  .toggleDiv{
    width: 300px;
    position: relative;
    right: 283px;
  }
}
