.hd-header{
  padding-top: 190px;
}
@media only screen and (min-width: 375px) {
  .hd-header{
    width: 200px;
    margin: auto;
    padding-top: 250px;
  }
}
@media only screen and (min-width: 414px) {
  .hd-header{
    width: 200px;
    margin: auto;
    padding-top: 290px;
  }
}
@media only screen and (min-width: 640px) {
  .hd-header{
    width: 490px;
    margin: auto;
    padding-top: 370px;
  }
}
@media only screen and (min-width: 768px) {
  .hd-header{
    width: 570px;
    margin: auto;
    padding-top: 250px;
  }
}
@media only screen and (min-width: 1024px) {
  .hd-header{
    width: 570px;
    margin: auto;
    padding-top: 140px;
  }
}
@media only screen and (min-width: 1920px) {
  .hd-header{
    width: 570px;
    margin: auto;
    padding-top: 350px;
  }
}
@media only screen and (min-width: 1536px) {
  .hd-header{
    width: 570px;
    margin: auto;
    padding-top: 250px;
  }
}